<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="mainContent">
    <div th:if="${car!=null}">
        <h1 th:text="${volume}"></h1>
        <form th:action="@{'/savecar'}" method="post">
            <input type="hidden" th:value="${car.id}" name="id">
            <div class="row mt-3">
                <div class="col-12">
                    <label>NAME : </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input type="text" class="form-control" name="name" required th:value="${car.name}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>CAR NAME : </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input type="text" class="form-control" name="model" required th:value="${car.model}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>PRICE : </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input type="number" class="form-control" name="price" required th:value="${car.price}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>ENGINE VOLUME : </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input type="text" class="form-control" name="engineVolume" required th:value="${car.engineVolume}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>COUNTRY : </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <select class="form-select" name="country_id">
                        <option th:each="cnt : ${countries}" th:value="${cnt.id}" th:text="${cnt.name}" th:selected="${cnt.id==car.country.id}"></option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <button class="btn btn-success">SAVE CAR</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCarModal">
                        DELETE CAR
                    </button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <tr th:each="cat : ${car.categories}">
               <form th:action="@{'/unassigncategory'}" method="post">
                   <input type="hidden" name="id" th:value="${cat.id}">
                   <input type="hidden" name="car_id" th:value="${car.id}">
                    <td th:text="${cat.name}"></td>
                    <td style="width: 10%">
                        <button class="btn btn-danger btn-sm"> - </button>
                    </td>
               </form>
            </tr>
        </table>
        <table class="table table-striped">
            <tr th:each="cat : ${categories}">
                <form th:action="@{'/assigncategory'}" method="post">
                    <input type="hidden" name="id" th:value="${cat.id}">
                    <input type="hidden" name="car_id" th:value="${car.id}">
                    <td th:text="${cat.name}"></td>
                    <td style="width: 10%">
                        <button class="btn btn-success btn-sm"> + </button>
                    </td>
                </form>
            </tr>
        </table>

    </div>

    <div class="modal fade" id="deleteCarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{'/deletecar'}" method="post">
                    <input type="hidden" th:value="${car.id}" name="id">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">DELETE CAR</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger">YES</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>